::-webkit-scrollbar {
    display: none;
  }
  
  button {
    @apply transition-colors;
  }
  
  h1,
  h2 {
    @apply font-light;
  }
  
  .external-link {
    @apply text-accent-6;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    background-color: var(--color-primary-3);
    height: 2px;
  }
  
  input[type='range']::-webkit-slider-thumb {
    margin-top: -7px;
  }
  
  .filled-button {
    @apply rounded-md bg-accent-7 px-2 py-1 transition-colors hover:bg-accent-8;
  }
  
  input[type='file'] {
    display: none;
  }
  
  label:has(input[type='file']) {
    cursor: pointer;
    @apply filled-button;
  }
  